.heading{
text-align: center;
margin-top: 25vh;
}

section {
  max-width: 25em;
  margin: 5vh auto 0;
  background: #171b22;
  padding:2em;
  border-radius: 0.5em;
  transition: box-shadow 100ms linear;
  border: 1px solid #31363d;

}

section:hover {
  box-shadow: 4px 4px 50px rgba(41, 41, 49, 0.6);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  display: flex;
  align-items: center;
  cursor: move;
  line-height: 1;
  margin-bottom: 0.1em;
  border-radius: 5px;
  margin-bottom: 10px;
}

ul li.dropArea {
  color: white !important;
  background: white !important;
  position: relative;
}

ul li.dropArea::before {
  content: "Drop Here";
  color: #c9d1d9;
  font-size: 0.5em;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  border: 2px dashed #c9d1d9;
  border-radius: 3px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li.dropArea span {
  display: none;
}

ul li.dropArea p {
  margin-left: 1em;
}

ul li:hover {
  background: linear-gradient(to left, #31363d, #31363d);
  color: white;
}

ul li:hover span {
  background-color: #31363d;
}

ul li span {
  display: inline-block;
  margin-right: 1em;
  margin-left: 0.5em;
  background-color: #31363d;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: white;
  font-weight: bold;
  transition: background-color 100ms linear;
}

ul li p {
  transition: margin-left 50ms ease-in-out;
}

ul li i {
  margin-left: auto;
  margin-right: 1em;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}