*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: #0d1117;
  color: #c9d1d9;
  font-family: 'Nunito',
  sans-serif;
}

a{
  color: #c9d1d9;
  font-size: 16px;
  letter-spacing: 1px;
}